{% extends "base.html" %}

{% load static %}


{% block title %} Home {% endblock title %}


{% block content %}
    <div id="permission_div" style="display: none;">
        <h4>Needs Permission</h4>
        <p id="token"></p>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
            onclick="requestPermission()">Request Permission</button>
  </div>
  <!-- div to display messages received by this app. -->
  <div id="messages"></div>
    <div style="color:#ea2088; font-style: bold; font-size: 3rem; border-bottom: 1px solid #fff">Welcome, {{ request.user.username }}, Visit Our Website <a href="{% url 'homepage' %}">Invflow</a> </div>

    <br>

    <div id="container" style="position: relative; height:45vh; border: 2mm ridge #4F102B; border-radius: 30px;" class="align-middle table-bordered">
        <canvas id="bar-graph"></canvas>
    </div>

    <br>

    <div class="row">
        <div class="col-md-6">
            <a href="{% url 'select-supplier' %}" class="btn ghost-blue btn-lg btn-block btn-huge">New Incoming Stock</a>
        </div>
        <div class="col-md-6">
            <a href="{% url 'new-sale' %}" class="btn ghost-blue btn-lg btn-block btn-huge">New Outgoing Stock</a>
        </div>
    </div>

    <br>

    <div class="content-section">
        <div class="row">

            <div class="col-md-6">
                <div style="color:#ea2088; font-style: bold; font-size: 1.3em; border-bottom: 2px solid #fff">Most Recent Sales</div><br>
                {% for item in sales %}
                    {% if not forloop.first %}
                        <br><div style="border-bottom: 0.5px solid #fff"></div><br>
                    {% endif %}
                    <div class="row">               
                        <div class="col-md-9"> 
                            Bill No: {{ item.billno }} <br> 
                            Purchased by {{ item.name }} <br>
                            <small>{{ item.time.date }}</small>
                        </div>
                        <div class="col-md-2"> {{ item.get_total_price }} <br> <br> <a href="{% url 'sale-bill' item.billno %}">View Bill</a> </div>
                    </div>
                {% endfor %}
            </div>

            <div class="col-md-6">
                <div style="color:#ea2088; font-style: bold; font-size: 1.3em; border-bottom: 2px solid #fff">Most Recent Purchases</div><br>
                {% for item in purchases %}
                    {% if not forloop.first %}
                        <br><div style="border-bottom: 0.5px solid #fff"></div><br>
                    {% endif %}
                    <div class="row">               
                        <div class="col-md-9"> 
                            Bill No: {{ item.billno }} <br> 
                            Purchased by {{ item.supplier.name }} <br>
                            <small>{{ item.time.date }}</small>
                        </div>
                        <div class="col-md-2"> {{ item.get_total_price }} <br> <br> <a href="{% url 'purchase-bill' item.billno %}">View Bill</a> </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>

    <!-- Loading Chart JS -->
    <script src="{% static 'js/Chart.min.js' %}"></script>  
    <script>
        Chart.defaults.global.defaultFontColor = '#fff';

        //configuration for the bar graph
        var barConfig = {
            type: 'bar',
            data: {
                datasets: [{
                    backgroundColor: '#ea2088',
                    label: 'Stock in Inventory',
                    data: {{ data|safe }},
                }],
                labels: {{ labels|safe }}
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
            },
        };


        //runs all charts on loading the webpage
        window.onload = function() {
            var ctx = document.getElementById('bar-graph').getContext('2d');
            window.BarStock = new Chart(ctx, barConfig);
        };

    </script>





    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>
    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.15.0/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.15.0/firebase-analytics.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries
      
        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
          apiKey: "AIzaSyBPHPA5VgSVQzSPpEEkc6WAUdMLux82s5c",
          authDomain: "django-9725a.firebaseapp.com",
          projectId: "django-9725a",
          storageBucket: "django-9725a.appspot.com",
          messagingSenderId: "66224617390",
          appId: "1:66224617390:web:44018218d3a92106337a3f",
          measurementId: "G-LJY5Q0E3ML"
        };
      
        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
    </script>

<script>
    // [START get_messaging_object]
    // Retrieve Firebase Messaging object.
    const messaging = firebase.messaging();
    // [END get_messaging_object]
  
    // IDs of divs that display Instance ID token UI or request permission UI.
    const tokenDivId = 'token_div';
    const permissionDivId = 'permission_div';
  
    // [START refresh_token]
    // Callback fired if Instance ID token is updated.
    messaging.onTokenRefresh(function() {
      messaging.getToken()
      .then(function(refreshedToken) {
        console.log('Token refreshed.');
        // Indicate that the new Instance ID token has not yet been sent to the
        // app server.
        setTokenSentToServer(false);
        // Send Instance ID token to app server.
        sendTokenToServer(refreshedToken);
        // [START_EXCLUDE]
        // Display new Instance ID token and clear UI of all previous messages.
        resetUI();
        // [END_EXCLUDE]
      })
      .catch(function(err) {
        console.log('Unable to retrieve refreshed token ', err);
        showToken('Unable to retrieve refreshed token ', err);
      });
    });
    // [END refresh_token]
  
    // [START receive_message]
    // Handle incoming messages. Called when:
    // - a message is received while the app has focus
    // - the user clicks on an app notification created by a sevice worker
    //   `messaging.setBackgroundMessageHandler` handler.
    messaging.onMessage(function(payload) {
      console.log("Message received. ", payload);
      // [START_EXCLUDE]
      // Update the UI to include the received message.
      appendMessage(payload);
      // [END_EXCLUDE]
    });
    // [END receive_message]
  
    function resetUI() {
      clearMessages();
      showToken('loading...');
      // [START get_token]
      // Get Instance ID token. Initially this makes a network call, once retrieved
      // subsequent calls to getToken will return from cache.
  
      console.log("getting token")
      messaging.getToken().then((resp) => {
        console.log(resp)
      })
      messaging.getToken()
      .then(function(currentToken) {
        console.log("Got current token")
        if (currentToken) {
          sendTokenToServer(currentToken);
          updateUIForPushEnabled(currentToken);
        } else {
          // Show permission request.
          console.log('No Instance ID token available. Request permission to generate one.');
          // Show permission UI.
          updateUIForPushPermissionRequired();
          setTokenSentToServer(false);
        }
      })
      .catch(function(err) {
        console.log('An error occurred while retrieving token. ', err);
        showToken('Error retrieving Instance ID token. ', err);
        setTokenSentToServer(false);
      });
      console.log("End get token")
  
    }
    // [END get_token]
  
    function showToken(currentToken) {
      // Show token in console and UI.
      var tokenElement = document.querySelector('#token');
      console.log(tokenElement)
      console.log(currentToken)
      tokenElement.textContent = currentToken;
    }
  
    // Send the Instance ID token your application server, so that it can:
    // - send messages back to this app
    // - subscribe/unsubscribe the token from topics
    function sendTokenToServer(currentToken) {
      if (!isTokenSentToServer()) {
        console.log('Sending token to server...');
        // TODO(developer): Send the current token to your server.
        fetch('http://localhost:8000/devices/', {
          method: "POST",
          headers: {
              'Content-Type': 'application/json'
            },
          body: JSON.stringify({
            'registration_id': currentToken,
            'type': 'web',
          }),
          credentials: "include",
        }).then(function(response) {
          console.log(response);
        })
        setTokenSentToServer(true);
      } else {
        console.log('Token already sent to server so won\'t send it again ' +
            'unless it changes');
      }
  
    }
  
    function isTokenSentToServer() {
      if (window.localStorage.getItem('sentToServer') == 1) {
            return true;
      }
      return false;
    }
  
    function setTokenSentToServer(sent) {
      if (sent) {
        window.localStorage.setItem('sentToServer', 1);
      } else {
        window.localStorage.setItem('sentToServer', 0);
      }
    }
  
    function showHideDiv(divId, show) {
      const div = document.querySelector('#' + divId);
      if (show) {
        div.style = "display: visible";
      } else {
        div.style = "display: none";
      }
    }
  
    function requestPermission() {
      console.log('Requesting permission...');
      // [START request_permission]
      messaging.requestPermission()
      .then(function() {
        console.log('Notification permission granted.');
        // TODO(developer): Retrieve an Instance ID token for use with FCM.
        // [START_EXCLUDE]
        // In many cases once an app has been granted notification permission, it
        // should update its UI reflecting this.
        resetUI();
        // [END_EXCLUDE]
      })
      .catch(function(err) {
        console.log('Unable to get permission to notify.', err);
      });
      // [END request_permission]
    }
  
    function deleteToken() {
      // Delete Instance ID token.
      // [START delete_token]
      messaging.getToken()
      .then(function(currentToken) {
        messaging.deleteToken(currentToken)
        .then(function() {
          console.log('Token deleted.');
          setTokenSentToServer(false);
          // [START_EXCLUDE]
          // Once token is deleted update UI.
          resetUI();
          // [END_EXCLUDE]
        })
        .catch(function(err) {
          console.log('Unable to delete token. ', err);
        });
        // [END delete_token]
      })
      .catch(function(err) {
        console.log('Error retrieving Instance ID token. ', err);
        showToken('Error retrieving Instance ID token. ', err);
      });
  
    }
  
    // Add a message to the messages element.
    function appendMessage(payload) {
      const messagesElement = document.querySelector('#messages');
      const dataHeaderELement = document.createElement('h5');
      const dataElement = document.createElement('pre');
      dataElement.style = 'overflow-x:hidden;'
      dataHeaderELement.textContent = 'Received message:';
      dataElement.textContent = JSON.stringify(payload, null, 2);
      messagesElement.appendChild(dataHeaderELement);
      messagesElement.appendChild(dataElement);
    }
  
    // Clear the messages element of all children.
    function clearMessages() {
      const messagesElement = document.querySelector('#messages');
      while (messagesElement.hasChildNodes()) {
        console.log("Has children")
        messagesElement.removeChild(messagesElement.lastChild);
      }
    }
  
    function updateUIForPushEnabled(currentToken) {
      showHideDiv(tokenDivId, true);
      showHideDiv(permissionDivId, false);
      showToken(currentToken);
    }
  
    function updateUIForPushPermissionRequired() {
      showHideDiv(tokenDivId, false);
      showHideDiv(permissionDivId, true);
    }
  
    resetUI();
  </script>
{% endblock content %}